/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700&display=swap");
/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  color: #424767;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header .btn i {
  margin-left: 0.2rem;
}

.logo {
  height: 37px;
  vertical-align: baseline;
}

/* NAVBAR */
.navbar-light .navbar-toggler {
  color: rgba(23, 31, 56, 0.9);
  border-color: rgba(23, 31, 56, 0.1);
}
.navbar-light .navbar-nav .nav-link {
  font-size: calc(1rem - 0.2rem);
  color: rgba(23, 31, 56, 0.9);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fc6666;
}

.navbar-toggler {
  padding: calc(0.75rem - 0.5rem) calc(0.75rem - 0.25rem);
  border-radius: 0.45rem;
}

/* BUTTONS */
.btn {
  font-size: calc(1rem - 0.2rem);
  font-weight: 500;
  line-height: 1;
  border-radius: 0.45rem;
  padding-top: calc(0.75rem - 0.2rem);
  padding-bottom: calc(0.75rem - 0.2rem);
}
.btn-primary {
  background-color: #fc6666;
  border-color: #fc6666;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: #fb4040;
  border-color: #fb4040;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-secondary {
  background-color: #183b56;
  border-color: #183b56;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:focus {
  background-color: #102638;
  border-color: #102638;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-outline-primary {
  border-color: #183b56;
  color: #183b56;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus {
  background: #183b56;
  border-color: #183b56;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn__download {
  background-color: #183b56;
  border-color: #183b56;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
}
.btn__download:hover, .btn__download:focus, .btn__download:active, .btn__download:active:focus {
  background-color: #102638;
  border-color: #102638;
}

/* BANNER */
.banner {
  margin-bottom: 9.75rem;
}
.banner__copy {
  margin-top: 5.01rem;
  margin-bottom: 5.01rem;
}
.banner__title {
  color: #183b56;
  font-weight: 700;
}
.banner__subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.icon i {
  font-size: calc(1rem + 0.25rem);
}

/* TILES */
.tile__icon {
  color: #418b78;
  font-size: 3rem;
}
.tile__title {
  color: #183b56;
}
.tile__copy {
  font-weight: 300;
}

/* ABOUT */
.about {
  padding-top: 8.01rem;
  padding-bottom: 8.01rem;
}
.about .row {
  padding-bottom: 0;
}
.about .row:last-child {
  padding-bottom: 0;
}
.about__title {
  color: #183b56;
}
.about__copy {
  color: #424767;
  font-weight: 400;
  font-size: 1rem;
}

.content {
  text-align: center;
  margin-bottom: 2.25rem;
}
.content__title {
  color: #183b56;
}

.stats {
  border-color: #e5eaf4;
  border-radius: 0.45rem;
  text-align: center;
}
.stats__title {
  color: #183b56;
  font-weight: 500;
}

.featured__icon {
  color: #183b56;
  font-size: 5rem;
}

/* MEDIA QUERIES */
/* 576px BREAKPOINT */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: calc(0.75rem - 0.25rem) 0.75rem;
  }
}
/* 768px BREAKPOINT */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .banner__copy {
    margin-top: 5.625rem;
    margin-bottom: 8.01rem;
  }
  .banner__subtitle {
    font-size: calc(1rem + 0.25rem);
  }

  .btn {
    font-size: 1rem;
    line-height: 1.5;
  }

  .icon i {
    font-size: 2.25rem;
  }

  .about__copy {
    font-size: calc(1rem + 0.25rem);
  }
}
/* 992px BREAKPOINT */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: calc(0.75rem + 0.05rem);
    padding-right: calc(0.75rem + 0.05rem);
  }

  .about .row {
    padding-bottom: 5.01rem;
  }

  .content {
    text-align: left;
    margin-bottom: 0;
  }

  .stats {
    text-align: left;
  }
}
/* 1200px BREAKPOINT */
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
/* 1400px BREAKPOINT */
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}