/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700&display=swap");
/* RESET STYLES */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* BASIC TYPOGRAPHY AND COLOR STYLE FOR COPY TEXT */
body {
  font-family: "Spartan", sans-serif;
  color: #424767;
}

@media (min-width: 576px) {
  .container, .contianer-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}

/* NAVBAR */
.navbar {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
@media (max-width: 768px) {
  .navbar {
    background-color: #183b56;
  }
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(/assets/illustrations/hamburger-light.svg);
}
.navbar-light .navbar-nav .nav-link {
  font-size: 0.8rem;
  color: rgba(23, 31, 56, 0.9);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fc6666;
}
@media (min-width: 576px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fb4040;
  }
}
@media (max-width: 768px) {
  .navbar-light .btn-outline-primary {
    color: #fff;
    border-color: #fff;
  }
  .navbar-light .btn-outline-primary:hover {
    background-color: #102638;
    border-color: #102638;
  }
}

.navbar-toggler {
  border-radius: 0.45rem;
  padding: 0.25rem 0.5rem;
}
.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #183b56;
  box-shadow: 0 0 0 0.25rem #183b56;
}
@media (min-width: 576px) {
  .navbar-toggler {
    padding: 0.5rem 0.75rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.active {
  background-color: #183b56;
  -webkit-box-shadow: 0 0 0.8rem #183b56;
  box-shadow: 0 0 0.8rem #183b56;
}
@media (min-width: 768px) {
  .active .navbar-nav .nav-link {
    color: #fff;
  }
}
@media (min-width: 768px) {
  .active .btn-outline-primary {
    color: #fff;
    border-color: #fff;
  }
  .active .btn-outline-primary:hover {
    background-color: #102638;
    border-color: #102638;
  }
}

/* BUTTONS */
.btn {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.45rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.btn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
@media (min-width: 768px) {
  .btn {
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
  }
}
.btn-primary {
  background-color: #fc6666;
  border-color: #fc6666;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: #fb4040;
  border-color: #fb4040;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-secondary {
  background-color: #183b56;
  border-color: #183b56;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:focus {
  background-color: #102638;
  border-color: #102638;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-outline-primary {
  border-color: #183b56;
  color: #183b56;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus {
  background: #183b56;
  border-color: #183b56;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link:active:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* BANNER */
.banner {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
}
@media (min-width: 576px) {
  .banner {
    padding-top: 4.5rem;
    padding-bottom: 9.75rem;
  }
}
.banner-copy {
  margin-top: 5.01rem;
  margin-bottom: 5.01rem;
}
@media (min-width: 768px) {
  .banner-copy {
    margin-top: 5.625rem;
    margin-bottom: 8.01rem;
  }
}
.banner-title {
  color: #183b56;
  font-weight: 700;
}
.banner-subtitle {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .banner-subtitle {
    font-size: 1.25rem;
  }
}
.banner-icon i {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .banner-icon i {
    font-size: 2.25rem;
  }
}
.banner-btn {
  background-color: #183b56;
  border-color: #183b56;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
}
.banner-btn:hover, .banner-btn:focus, .banner-btn:active, .banner-btn:active:focus {
  background-color: #102638;
  border-color: #102638;
}

small {
  font-weight: 400;
}

.tile-icon {
  color: #418b78;
  font-size: 3rem;
}
.tile-title {
  color: #183b56;
}
.tile-copy {
  font-weight: 300;
}

/* HEADER */
.header-logo {
  height: 37px;
  vertical-align: baseline;
}
@media (min-width: 768px) {
  .header-btn {
    font-size: 1rem;
    line-height: 1.5;
  }
}
.header-btn i {
  margin-left: 0.25rem;
}

/* FOOTER */
.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
  .footer {
    padding-top: 5.01rem;
    padding-bottom: 3rem;
  }
}
.footer-title {
  color: #183b56;
}
.footer-copy {
  font-size: 0.8rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .footer-copy {
    font-size: 1rem;
  }
}
.footer-logo {
  height: 25px;
}
.footer-copyright {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer-copyright {
    font-size: 0.9rem;
  }
}

.social-item {
  display: inline-block;
}
.social-link {
  display: block;
  margin-right: 0.75rem;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.social-link:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.social-icon {
  font-size: 1.5rem;
}

.twitter {
  color: #1da1f2;
}
.twitter:hover {
  color: #0d8cda;
}

.facebook {
  color: #3b5999;
}
.facebook:hover {
  color: #30487c;
}

.github {
  color: #222;
}
.github:hover {
  color: #0e0e0e;
}

.dribble {
  color: #ea4c89;
}
.dribble:hover {
  color: #e62771;
}

.footernav-item {
  padding-bottom: 0.6rem;
}
.footernav-link {
  color: #424767;
  font-size: 0.8rem;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
@media (min-width: 768px) {
  .footernav-link {
    font-size: 1rem;
  }
}
.footernav-link:hover {
  color: #fc6666;
}

.subscribe-input {
  border-color: #cfd9eb;
  border-radius: 0.45rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .subscribe-input {
    font-size: 1rem;
  }
}
.subscribe-input::-webkit-input-placeholder {
  color: #424767;
}
.subscribe-input::-moz-placeholder {
  color: #424767;
}
.subscribe-input:-ms-input-placeholder {
  color: #424767;
}
.subscribe-input::-ms-input-placeholder {
  color: #424767;
}
.subscribe-input::placeholder {
  color: #424767;
}
.subscribe-input:focus {
  border-color: #cfd9eb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe-btn {
  display: block;
  width: 100%;
}
.subscribe-btn:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.subscribe-text {
  font-size: 0.7rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .subscribe-text {
    font-size: 0.9rem;
  }
}

.divider {
  border-bottom: 1px solid #f9fafc;
}

.back-to-top {
  left: unset;
  right: 25px;
  bottom: 25px;
}
.back-to-top .icon {
  background-color: #fff;
  border: 1px solid #e5eaf4;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(23, 31, 56, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(23, 31, 56, 0.075);
}
@media (min-width: 768px) {
  .back-to-top .icon {
    height: 45px;
    width: 45px;
  }
}
.back-to-top .icon i {
  color: #418b78;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .back-to-top .icon i {
    font-size: 1.5rem;
  }
}
.back-to-top .icon:hover {
  background-color: #ececec;
}

/* ABOUT */
.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
  .about {
    padding-top: 8.01rem;
    padding-bottom: 8.01rem;
  }
}
.about .row {
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .about .row {
    padding-bottom: 5.01rem;
  }
}
.about .row:last-child {
  padding-bottom: 0;
}
.about-title {
  color: #183b56;
}
.about-copy {
  color: #424767;
  font-weight: 400;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .about-copy {
    font-size: 1.25rem;
  }
}

.content {
  text-align: center;
  margin-bottom: 2.25rem;
}
@media (min-width: 992px) {
  .content {
    text-align: left;
    margin-bottom: 0;
  }
}
.content-title {
  color: #183b56;
}
.content-btn i {
  margin-left: 0.5rem;
}

.stats {
  border-color: #e5eaf4;
  border-radius: 0.45rem;
  text-align: center;
}
@media (min-width: 992px) {
  .stats {
    text-align: left;
  }
}
.stats-title {
  color: #183b56;
  font-weight: 500;
}

.featured-link {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.featured-link:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.featured-icon {
  color: #183b56;
  font-size: 5rem;
}

/* TESTIMONIALS */
.testimonials {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
  .testimonials {
    padding-top: 8.01rem;
    padding-bottom: 8.01rem;
  }
}
.testimonials-title {
  color: #183b56;
  font-weight: 500;
}
.testimonials-copy {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .testimonials-copy {
    font-size: 1.25rem;
  }
}

.customers {
  border-color: #e5eaf4;
  border-radius: 0.45rem;
}
.customers-img {
  height: 3rem;
}
.customers-icon {
  color: #ffc107;
}
.customers-copy {
  font-size: 0.8rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .customers-copy {
    font-size: 1rem;
  }
}
.customers-btn {
  color: #183b56;
  text-decoration: none;
}
.customers-btn:hover {
  color: #fc6666;
}
.customers-btn i {
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .mt-lg-n5 {
    margin-top: -3rem;
  }
}

/* FAQs */
.faqs {
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
  .faqs {
    padding-bottom: 8.01rem;
  }
}
.faqs-title {
  color: #183b56;
  font-weight: 500;
}
.faqs-copy {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .faqs-copy {
    font-size: 1.25rem;
  }
}

.accordion-item {
  border-color: #e5eaf4;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}
.accordion-item:last-of-type {
  border-bottom-left-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}
.accordion-item:hover {
  background-color: #eff1f5;
}
.accordion-title {
  background-color: rgba(23, 31, 56, 0.03);
  color: #183b56;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1.125rem 1.5rem;
}
@media (min-width: 768px) {
  .accordion-title {
    font-size: 1rem;
    padding: 1.875rem 2.25rem;
  }
}
.accordion-title:not(.collapsed) {
  color: #183b56;
  background-color: rgba(23, 31, 56, 0.03);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion-title:not(.collapsed):after {
  background-image: none;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.accordion-title:focus {
  border-color: #e5eaf4;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion-title:after {
  font: var(--fa-font-solid);
  content: "+";
  width: auto;
  height: auto;
  background-image: none;
  background-repeat: unset;
  background-size: unset;
}
.accordion-copy {
  font-size: 0.8rem;
  font-weight: 300;
  border-top: 0.0625rem solid rgba(23, 31, 56, 0.125);
}
@media (min-width: 768px) {
  .accordion-copy {
    font-size: 1rem;
  }
}

/* DOWNLOADS */
.download {
  background-color: #eff1f5;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
}
@media (min-width: 576px) {
  .download {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 992px) {
  .download {
    text-align: left;
  }
  .download:before {
    margin-top: -1.0005rem;
  }
}
.download:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/illustrations/downloads-top-bg.svg);
  background-repeat: no-repeat;
  margin-top: -0.3375rem;
  z-index: -1;
}
@media (min-width: 768px) {
  .download:before {
    margin-top: -0.8625rem;
  }
}
.download-title {
  color: #183b56;
}
.download-subtitle {
  color: rgba(66, 71, 103, 0.85);
}
.download-copy {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .download-copy {
    font-size: 1.25rem;
  }
}
.download-btn {
  background-color: #183b56;
  border-color: #183b56;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.08);
}
.download-btn:hover, .download-btn:focus, .download-btn:active, .download-btn:active:focus {
  background-color: #102638;
  border-color: #102638;
}
.download-icon i {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .download-icon i {
    font-size: 2.25rem;
  }
}