// BANNER
.banner {
  padding-top: $base-padding * 4;
  padding-bottom: $base-padding * 6;

  @include sm-up {
    padding-top: $base-padding * 6;
    padding-bottom: $base-padding * 13;
  }

  &__copy {
    margin-top: $base-margin * 6.68;
    margin-bottom: $base-margin * 6.68;

    @include md-up {
      margin-top: $base-margin * 7.5;
      margin-bottom: $base-margin * 10.68;
    }
  }

  &__title {
    color: $secondary;
    font-weight: 700;
  }

  &__subtitle {
    font-size: $base-font-size;
    font-weight: 400;

    @include md-up {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }
  }

  &__icon {
    i {
      font-size: calc(#{$base-font-size} + 0.25rem);

      @include md-up {
        font-size: $base-font-size * 2.25;
      }
    }
  }

  &__btn {
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(23 31 56 / 8%);

    &:hover, &:focus, &:active, &:active:focus {
      background-color: $secondary-hover;
      border-color: $secondary-hover;
    }
  }
}

small {
  font-weight: 400;
}