/* MEDIA QUERIES */
/* 576px MIN BREAKPOINT */
@include sm-up {
  .container, .container-sm {
    max-width: 540px;
  }

  .navbar-light {  
    .navbar-nav {
      .nav-link {
        font-size: $base-font-size;
      }
    }
  }

  .navbar-toggler {
    padding: calc(#{$base-padding} - 0.25rem) $base-padding;
  }

  .banner {
    padding-top: $base-padding * 6;
    padding-bottom: $base-padding * 13;
  }

  .about, .testimonials {
    padding-top: $base-padding * 10.68;
    padding-bottom: $base-padding * 10.68;
  }

  .faqs {
    padding-bottom: $base-padding * 10.68;
  }

  .download {
    padding-top: $base-padding * 8;
    padding-bottom: $base-padding * 8;
  }

  .footer {
    padding-top: $base-padding * 6.68;
    padding-bottom: $base-padding * 4;
  }
}

/* 768px MIN BREAKPOINT */
@include md-up {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }

  .active {
    .navbar-nav {
      .nav-link {
        color: $white;

        &:hover {
          color: $primary-hover;
        }
      }
    }

    .btn {
      &-outline-primary {
        color: $white;
        border-color: $white;
  
        &:hover {
          background-color: $secondary-hover;
          border-color: $secondary-hover;
        }
      }
    }   
  }

  .btn {
    font-size: $base-font-size;
    line-height: 1.5;
    padding-top: calc(#{$base-padding} - 0.2rem);
    padding-bottom: calc(#{$base-padding} - 0.2rem);
  }

  .banner {
    &__copy {
      margin-top: $base-margin * 7.5;
      margin-bottom: $base-margin * 10.68;
    }

    &__subtitle {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }

    &__icon {
      i {
        font-size: $base-font-size * 2.25;
      }
    }
  }

  .header {
    &__btn {
      font-size: $base-font-size;
      line-height: 1.5;
    }
  }

  .about {
    &__copy {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }
  }

  .testimonials {
    &__copy {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }
  }

  .faqs {
    &__copy {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }
  }

  .download {
    &:before  {
      margin-top: -$base-margin * 1.15;
    }

    &__icon {
      i {
        font-size: $base-font-size * 2.25;
      }
    }
  }

  .back-to-top {
    .icon {
      height: 45px;
      width: 45px; 
    }

    i {
      font-size: $base-font-size * 1.5;
    }
  }
}

/* 768px MAX CUSTOM BREAKPOINT */
@include breakpoint-down(768px) {
  .navbar {
    background-color: $secondary;
  }

  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: $white;

        &:hover {
          color: $primary-hover;
        }
      }
    }

    .btn {
      &-outline-primary {
        color: $white;
        border-color: $white;
  
        &:hover {
          background-color: $secondary-hover;
          border-color: $secondary-hover;
        }
      }
    }
  }
}  

/* 992px BREAKPOINT */
@include lg-up {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }

  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding-left: calc(#{$base-padding} + 0.05rem);
        padding-right: calc(#{$base-padding} + 0.05rem);
      }
    }
  }

  .about {
    .row {
      padding-bottom: $base-padding * 6.68;
    }
  }

  .content {
    text-align: left;
    margin-bottom: 0;
  }

  .stats {
    text-align: left;
  }

  .mt-lg-n5 {
    margin-top: -$base-margin * 4;
  }

  .download {
    text-align: left;

    &:before  {
      margin-top: -$base-margin * 1.334;
    }
  }
}

/* 1200px MIN BREAKPOINT */
@include xl-up {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}


/* 1400px MIN BREAKPOINT */
@include xxl-up {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}