/* MEDIA QUERIES */
/* 576px BREAKPOINT */
@include sm {
  .container, .container-sm {
    max-width: 540px;
  }

  .navbar-light {  
    .navbar-nav {
      .nav-link {
        font-size: $base-font-size;
      }
    }
  }

  .navbar-toggler {
    padding: calc(#{$base-padding} - 0.25rem) $base-padding;
  }
}

/* 768px BREAKPOINT */
@include md {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }

  .banner {
    &__copy {
      margin-top: $base-margin * 7.5;
      margin-bottom: $base-margin * 10.68;
    }

    &__subtitle {
      font-size: calc(#{$base-font-size} + 0.25rem);
    }
  }

  .btn {
    font-size: $base-font-size;
    line-height: 1.5;
  }

  .icon {
    i {
      font-size: $base-font-size * 2.25;
    }
  }
}

/* 992px BREAKPOINT */
@include lg {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }

  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding-left: calc(#{$base-padding} + 0.05rem);
        padding-right: calc(#{$base-padding} + 0.05rem);
      }
    }
  }
}

/* 1200px BREAKPOINT */
@include xl {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}


/* 1400px BREAKPOINT */
@include xxl {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}