// VARIABLES
// THEME COLORS
$primary: #fc6666;
$primary-hover: #fb4040;
$secondary: #183b56;
$secondary-hover: #102638;
$white: #fff;
$light-gray: #ececec;
$icon: #418b78;
$body-text: #424767;
$border-color: #e5eaf4;
$star-color: #ffc107;
$accordion: #171f38;
$accordion-hover: #eff1f5;
$twitter: #1da1f2;
$facebook: #3b5999;
$github: #222;
$dribble: #ea4c89;

// SPACING
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// BORDER RADIUS
$base-border-radius: 0.45rem !default;

// FONT FAMILY
$base-font-family: 'Spartan', sans-serif !default;

// FONT SIZE
$base-font-size: 1rem !default;