// HEADER
.header {
  &__logo {
    height: 37px;
    vertical-align: baseline;
  }

  &__btn {
    @include md-up {
      font-size: $base-font-size;
      line-height: 1.5;
    }

    i {
      margin-left: calc(#{$base-margin} - 0.5rem);
    }
  }
}