/* ABOUT */
.about {
  padding-top: $base-padding * 4;
  padding-bottom: $base-padding * 4;

  .row {
    padding-bottom: 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__title {
    color: $secondary;
  }

  &__copy {
    color: $body-text;
    font-weight: 400;
    font-size: $base-font-size;
  }
}

.content {
  text-align: center;
  margin-bottom: $base-margin * 3;

  &__title {
    color: $secondary;
  }

  &__btn {
    i {
      margin-left: calc(#{$base-margin} - 0.25rem);
    }
  }
}

.stats {
  border-color: $border-color;
  border-radius: $base-border-radius;
  text-align: center;

  &__title {
    color: $secondary;
    font-weight: 500;
  }
}

.featured {
  &__icon {
    color: $secondary;
    font-size: $base-font-size * 5;
  }
}