/* BANNER */
.banner {
  &__copy {
    margin-top: $base-margin * 6.68;
    margin-bottom: $base-margin * 6.68;
  }

  &__title {
    color: $secondary;
    font-weight: 700;
  }

  &__subtitle {
    font-size: $base-font-size;
    font-weight: 400;
  }
}

.icon {
  i {
    font-size: calc(#{$base-font-size} + 0.25rem);
  }
}