/* BUTTONS */
.btn {
  font-size: calc(#{$base-font-size} - 0.2rem);
  font-weight: 500;
  line-height: 1;
  border-radius: $base-border-radius;
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  transition: all ease 0.6s;

  &:hover {
    transform: translateY(-2px);
  }

  &-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover, &:focus, &:active, &:active:focus {
      background-color: $primary-hover;
      border-color: $primary-hover;
      box-shadow: none;
    }
  }

  &-secondary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover, &:focus, &:active, &:active:focus {
      background-color: $secondary-hover;
      border-color: $secondary-hover;
      box-shadow: none;
    }
  }

  &-outline-primary {
    border-color: $secondary;
    color: $secondary;

    &:hover, &:focus, &:active, &:active:focus {
      background: $secondary;
      border-color: $secondary;
      color: #fff;
      box-shadow: none;
    }
  }

  &-link {
    &:hover, &:focus, &:active, &:active:focus {
      box-shadow: none;
    }
  }
}