/* BUTTONS */
.btn {
  font-size: calc(#{$base-font-size} - 0.2rem);
  font-weight: 500;
  line-height: 1;
  border-radius: $base-border-radius;
  padding-top: calc(#{$base-padding} - 0.2rem);
  padding-bottom: calc(#{$base-padding} - 0.2rem);

  &-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover, &:focus, &:active:focus {
      background-color: $primary-hover;
      border-color: $primary-hover;
      box-shadow: none;
    }
  }

  &-outline-primary {
    border-color: $secondary;
    color: $secondary;

    &:hover, &:focus, &:active:focus {
      background: $secondary;
      color: #fff;
      box-shadow: none;
    }
  }

  &__download {
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(23 31 56 / 8%);

    &:hover, &:focus, &:active:focus {
      background-color: $secondary-hover;
      border-color: $secondary-hover;
    }
  }
}