/* NAVBAR */
.navbar-light {
  .navbar-toggler {
    color: rgba($accordion, .9);
    border-color: rgba($accordion, .1);
  }

  .navbar-nav {
    .nav-link {
      font-size: calc(#{$base-font-size} - 0.2rem);
      color: rgba($accordion, .9);

      &:hover {
        color: $primary;
      }
    }
  }
}

.navbar-toggler {
  padding: calc(#{$base-padding} - 0.5rem) calc(#{$base-padding} - 0.25rem);
  border-radius: $base-border-radius;
}