/* NAVBAR */
.navbar-light .navbar-nav .nav-link {
  color: rgba(23,31,56,.9);

  &:hover {
    color: #171f38;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(23,31,56,.9);
  border-color: rgba(23,31,56,.1);
}

.navbar-toggler {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.45rem;
}