@use 'abstracts' as *;

/* ABOUT */
.about {
  padding-top: $base-padding * 4;
  padding-bottom: $base-padding * 4;

  @include sm-up {
    padding-top: $base-padding * 10.68;
    padding-bottom: $base-padding * 10.68;
  }

  .row {
    padding-bottom: 0;

    @include lg-up {
      padding-bottom: $base-padding * 6.68;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-title {
    color: $secondary;
  }

  &-copy {
    color: $body-text;
    font-weight: 400;
    font-size: $base-font-size;

    @include md-up {
      font-size: $base-font-size + 0.25rem;
    }
  }
}

.content {
  text-align: center;
  margin-bottom: $base-margin * 3;

  @include lg-up {
    text-align: left;
    margin-bottom: 0;
  }

  &-title {
    color: $secondary;
  }

  &-btn {
    i {
      margin-left: $base-margin - 0.25rem;
    }
  }
}

.stats {
  border-color: $border-color;
  border-radius: $base-border-radius;
  text-align: center;

  @include lg-up {
    text-align: left;
  }

  &-title {
    color: $secondary;
    font-weight: 500;
  }
}

.featured {
  &-link {
    transition: all ease 0.6s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &-icon {
    color: $secondary;
    font-size: $base-font-size * 5;
  }
}