@use 'abstracts' as *;

/* FAQs */
.faqs {
  padding-bottom: $base-padding * 4;

  @include sm-up {
    padding-bottom: $base-padding * 10.68;
  }

  &-title {
    color: $secondary;
    font-weight: 500;
  }

  &-copy {
    font-size: $base-font-size;
    font-weight: 400;

    @include md-up {
      font-size: $base-font-size + 0.25rem;
    }
  }
}

.accordion {
  &-item {
    border-color: $border-color;
    transition: all ease 0.6s;

    &:first-of-type {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-of-type {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    &:hover {
      background-color: $accordion-hover;
    }
  }

  &-title {
    background-color: rgba($accordion, .03);
    color: $secondary;
    font-size: $base-font-size - 0.2rem;
    font-weight: 500;
    padding: $base-padding * 1.5 $base-padding * 2;

    @include md-up {
      font-size: $base-font-size;
      padding: $base-padding * 2.5 $base-padding * 3;
    }

    &:not(.collapsed) {
      color: $secondary;
      background-color: rgba($accordion, .03);
      box-shadow: none;

      &:after {
        background-image: none;
        transform: rotateZ(45deg);
      }
    }

    &:focus {
      border-color: $border-color;
      box-shadow: none;
    }

    &:after {
      font: var(--fa-font-solid);
      content: "\2b";
      width: auto;
      height: auto;
      background-image: none;
      background-repeat: unset;
      background-size: unset;
    }
  }

  &-copy {
    font-size: $base-font-size - 0.2rem;
    font-weight: 300;
    border-top: 0.0625rem solid rgba($accordion, 0.125);

    @include md-up {
      font-size: $base-font-size;
    }
  }
}