@use 'abstracts' as *;

/* TESTIMONIALS */
.testimonials {
  padding-top: $base-padding * 4;
  padding-bottom: $base-padding * 4;

  @include sm-up {
    padding-top: $base-padding * 10.68;
    padding-bottom: $base-padding * 10.68;
  }

  &__title {
    color: $secondary;
    font-weight: 500;
  }

  &__copy {
    font-size: $base-font-size;
    font-weight: 400;

    @include md-up {
      font-size: $base-font-size + 0.25rem;
    }
  }
}

.customers {
  border-color: $border-color;
  border-radius: $base-border-radius;

  &__img {
    height: 3rem;
  }

  &__icon {
    color: $star-color;
  }

  &__copy {
    font-size: $base-font-size - 0.2rem;
    font-weight: 300;

    @include md-up {
      font-size: $base-font-size;
    }
  }

  &__btn {
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: $primary;
    }

    i {
      margin-right: $base-margin - 0.25rem;
    }
  }
}

.mt-lg-n5 {
  @include lg-up {
    margin-top: -$base-margin * 4;
  }
}